*{
    margin: 0;
    padding: 0;
    }
    header{
        box-sizing: border-box;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #003366;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    header nav ul{
     list-style: none;
     color: white;
     display: inline-flex;
    
    }nav ul li {  
        cursor: pointer;
    }nav ul li a{
        color: white;
        padding: 10px 10px;
        text-decoration: none;
    }
    .i2{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50px;
        
    }
    .p6{
            margin-right:20px ;
            border: none;
            border-radius: 20px;
            width: 60px;
            height: 40px;
            border-style: none;
        }
    
       
       body{
        background-color: #003366;
       }
    .p-titulli{
        font-size:2.5em ;
        color: whitesmoke;
        font-family:Georgia, serif;
        font-size: 3.0em;
        position: relative;
        left: 10%;
        top: 10px;
    }
    main input{
        position: relative;
        left:40%;
        border-radius: 20px;
        border: none;
        width: 300px;
        height: 30px;
        text-align: center;
        cursor: pointer;
    }
    .Eventet{ 
       
           position: relative;
            left: 30px;
           
            background-color: #003366;
            width: 100% ;
            height: 140vh auto;
       
    }
    .post{
    
        width: 100%;
        height: 30vh;
        display: flex; 
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .post h3{
        
      
        width:100%;
        font-size:30px;
        color: whitesmoke;
        position: relative;
        left:15px;
        bottom: 40px;
       
        
    }
    .titulli{
        display: inline-block; 
        margin: 0;
    }.hrp{
        width: 100%;
        height: 2px; 
        border: none;
        background-color: whitesmoke; 
        margin: 5px auto 0; 
    }
    .post.tekst{
        display: block;
        width: 80%;
    }.post p{
        color: white;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .post img{
        border-radius: 30px;
        width: 67%;
        height: 30vh;
        padding-right: 10px;
    }
    
    .post1{
      
        color: white;
        width:100%;
        height:30vh ;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .post1 h3{
        font-size:30px;
        color: whitesmoke;
        width: 100%;
        position: relative;
        left: 15px;
        
        
    }
    .titulli1{
        display: inline-block; 
        margin: 0;
    }.hr1{
        width: 100%;
        height: 2px; 
        border: none;
        background-color: whitesmoke; 
        margin: 5px auto 0; 
        
    }
    .post1 .tekst1{
        display: block;
        width: 80%;
        position: relative;
        bottom: 40px;
    }
    .post1 p{
       
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .post1 img{
        border-radius: 30px;
        width: 30%;
        height: 30vh;
        padding-right: 10px;  
    }
    .post2{
      
        color: white;
        width:100%;
        height:30vh ;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    .titulli2{
        display: inline-block; 
        margin: 0;
    }.hr2{
        width: 100%;
        height: 2px; 
        border: none;
        background-color: whitesmoke; 
        margin: 5px auto 0; 
        position: relative;
        top: -20px;
        bottom:  10%;
    }
    .post2 h3{
        font-size:30px;
        color: whitesmoke;
       width: 100%;
        position: relative;
        left: 15px;
       bottom: 20px;
    }
    
    .post2 p{
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    .post2 .tekst2{
        display: block;
        width: 80%;
        
    }
    .post2 img{
        border-radius: 30px;
        width: 30%;
        height: 30vh;
        padding-right: 10px;
    }
    
    
    
    .post3 {
        color: white;
        width: 100%;
        height: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: height 0.5s ease-out;
    }
    .post3 h3{
        font-size:30px;
        color: whitesmoke;
       width: 100%;
        position: relative;
        left: 15px;
        bottom: 10px;
       
    }
    .titulli3{
        display: inline-block; 
        margin: 0;
    }.hr3{
        width: 100%;
        height: 2px; 
        border: none;
        background-color: whitesmoke; 
        margin: 5px auto 0; 
        position: relative;
        top: -20px;
        bottom:  10%;
    }
    .post3 p{
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    .post3 .tekst3{
        display: block;
        width: 80%;
    
    } 
    .post3.show {
        height: 30vh;
        transition: height 0.5s ease-in;
    }
    
    .post3 img{
        border-radius: 30px;
        width: 30%;
        height: 30vh;
        padding-right: 15px;
    }
    .moreEvente {
        margin: 0;
        padding: 0;
       display: block;
    }
    
    .moreEvente button {
        margin: 0;
        padding: 0;
        width: 40%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid white;
        outline: none;
        text-align: center;
        background-color: transparent;
        color: whitesmoke;
        position: relative;
        left: 50%;
        margin-top: 60px;
        margin-bottom: 10px;
    }
     .moreEventeButton:hover {
        background-color: #cccccc;
        color: #003366;
    }
    
    
    
    
    footer h4{
    position: relative;
    top: 25%;
    color: whitesmoke;
    
    }
    footer{
        text-align: center;
        
        font-size: 1.2em ;
        background-color: #003366;
        height: 10vh;
        }