*{
    margin: 0;
    padding: 0;
    
}


/*Pjesa e headerit*/
header {
    box-sizing: border-box;
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #003366;
    position: sticky;
    top: 0;
    z-index: 100;
}



header nav ul {
    list-style: none;
    color: white;
    display: inline-flex;
}

nav ul li {  
    cursor: pointer;
}
nav ul li a{
    color: white;
   
    padding: 10px 10px;
    text-decoration: none;
}
.i1{
    width: 90px;
    height: 80px;
    border-radius: 15px;
    position: absolute;
    left: 1%;
}


#p6{
        margin-right:20px ;
        border-radius: 20px;
        width: 60px;
        height: 40px;
        border-style: none;
    }
body
{
    background-color: #003366;
    margin: 0;
}
main{
    background-color: #003366;
    width: 100%;
    height: 170vh;
    }
.News {
    position: relative;
    left: 4%;
    border: dotted;
    width: 94%;
    height: 70vh;
    display: block;
}
.News h2{
    
    color: whitesmoke;
    text-align: center;
    font-size: 4.0em;
}.News p{
    color: whitesmoke;
    width: 100%;
}
.postmain{
    display: flex;
}
.photo1 {
   
display: block;
 
}
.photo1 img{
    position: relative;
    left:8% ;
 width: 90%;
 height: 55vh;
}
.photo1 p{
    display: block;
    align-items: flex-start;
  margin-left: 8%;  
width: 90%;
}
footer {
    color: whitesmoke;
    text-align: center;
    height: 10vh;
}
.postmain p{
    font-size: 18px;
    font-style: ;
}
