*{
    margin: 0;
    padding: 0;
    }
    /*Pjesa e navbarit*/
    .navbar {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background-color: rgba( 0, 51, 102, 0.2 );
      backdrop-filter: blur( 20.5px );
      color: white;
  
  
    }
    
    .brand-title img {
      margin-top: 10px;
      margin-left:10px;
      width: 50px;
      height: 50px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(87%) hue-rotate(239deg) brightness(113%) contrast(94%);
  
    }
    
    .navbar-links {
      height: 90%;
      position: relative;
      top: 10px;
      right: 0%;
    }
   
    .navbar-links ul {
      display: flex;
      margin: 0;
      padding: 0;
    }
    
    .navbar-links li {
      list-style: none;
    }
    
    .navbar-links li a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 1rem;
    }
    
    
    .navbar-links li a:hover {
      text-decoration: underline;
    }
    .navbar-links button{
      background-color: #fff;
      color: #000;
      outline: none;
      border: solid white; 
      text-align: center;
      width: 70px;
      height: 25px;
      border-radius: 10px;
      margin-bottom: 10px;
      position: relative;
    }
    .navbar-links button:hover {
      text-decoration: underline;
     cursor:  pointer;
    }
     
    .toggle-button {
      position: absolute;
      top: .75rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
    }
    
    .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
    }
  /*navbari dizajni ===============================================================*/
  
  /*pjesa e headerit =====================================================*/
       body{
        background-color: #000;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
       }
       .span{
         display: flex;
         justify-content: space-between;
         width: 90%;
       }
    .p-titulli{
        font-size:2.5em ;
        color: whitesmoke;
        font-family:Georgia, serif;
        font-size: 3.0em;
        position: relative;
        left: 10%;
        top: 10px;
    }
    main input{
        margin-top: 20px;
        border-radius: 20px;
        border: none;
        width: 350px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
    .Eventet{ 
           position: relative;
            display: flex;
            flex-direction: column;
            background-color: #000;
            width: 100% ;
            height: 140vh auto;
           overflow-y: auto;
    }
    .post{
        color: white;
        width: 95%;
        height:30vh ;
       display: flex;
       flex-direction: row;
        border: 1px solid #fff;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 6px;
       overflow: hidden;
    }
    .post .photo{
        width: 30%;
        height: auto;

    }
    .post h3{
        width:100%  ;
        font-size:20px;
        color: whitesmoke;
        position: relative;
        left:15px;
    }
    .titulli{
        display: inline-block; 
        margin: 0;
    }
    .post .tekst{
        display: flex;
        flex-direction: column;
        width: 70%;
        position: relative;
        bottom: 20px;
    }
.post p{ 
   font-size: 14px;
   font-family: 'Times New Roman', Times, serif;
    }
    
    .post img{
        border-radius: 30px;
        width:90%;
        height:30vh;
  
    }
    .hr{
        width: 90%;
       
    }
  .Button{
    width: 25%;
    height: 5vh;
    position: relative;
    left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 17px;
    color: white;
    background-color: #000;
    border: 1px solid #fff;
    border-radius:20px;
  }
  .Button:hover{
    background-color: white;
    color: #003366;
    border: 1px solid #003366;
  }
   
  /*pjesa e headerit =====================================================*/
 
  
  .post3{
    color: white;
    width: 95%;
    height:30vh ;
   display: none;
   flex-direction: row;
    border: 1px solid #fff;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
   overflow: hidden;

    

}
.post3 .photo{
    width: 30%;
    height: auto;

}
.post3 h3{
    width:100%  ;
    font-size:30px;
    color: whitesmoke;
    position: relative;
    left:15px;
}

.post3 .tekst{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    bottom: 20px;
}
.post3 p{ 
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
}

.post3 img{
    border-radius: 30px;
    width:90%;
    height:30vh;

}
    
 footer{
  
   text-align: center;
 }
 footer h4{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
 }


.delete-btn {
  background-color:  #3498db; 
  color: black; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.delete-btn:hover {
  background-color:yellow; 
}

.delete-btn:focus {
  outline: none; 
}
.shtimi {
  width: 100%;
  height: 80px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
}

.shtimi input,
.shtimi textarea {
  margin-top: 19px;
  width: 30%;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.shtimi textarea {
  margin-right: 20px;
}

.shtimi input[type="submit"] {
  width: 30%; 
  height: 40px;
  background-color: red;
  color: white;
  border: 1px solid white;
  outline: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

}

.shtimi input:hover {
  background-color: #000;
}

.shtimi form {
  margin-top:15px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

.shtimi label {
  width: 30%; 
  height:30px;
  margin-left: 30px;
  text-align: left; 
}

.shtimi .file {
  margin-top: 19px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.shtimi input[type="file"] {
  display: none;
}


 /*RESP0NSIV*/
@media (max-width: 1200px) {
  /*Pjesa e navbarit*/
  .navbar {
     flex-direction: column;
     align-items: flex-start;
 }
 
 .toggle-button {
     display: flex;
 }
 
 .navbar-links {
     display: none;
     width: 100%;
 }
 
 .navbar-links ul {
     width: 100%;
     flex-direction: column;
 }

 
 .navbar-links ul li {
     text-align: center;
 }
 
 .navbar-links ul li a {
     padding: .5rem 1rem;
 }
 .navbar-links li a:hover {
  text-decoration: underline;
}
 .navbar-links button  {
  background-color: #000;
  color: white;
  border: solid white; 
  position: relative;
  top: 8px;
}
.navbar-links button:hover{
  background-color: whitesmoke;
}
 
 .navbar-links.active {
     display: flex;
 }

 
 .post p{ 
    font-size:15px ;
 }
 .post3 p{
  font-size: 15px;
 }
 
 .Button{
  border-radius: 40px;  
  width: 350px;
 }

}
 @media (max-width: 700px) {
  .shtimi {
    flex-direction: column;
    height: auto;
    align-items: center;     }

.shtimi input,
.shtimi textarea {
    width: 90%; 
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px; 
}

.shtimi input[type="submit"] {
    width: 90%; 

}

.shtimi form {
    width: 90%; 
    flex-direction: column;
    align-items: center; 
}

.shtimi label {
    width: 100%; 
    margin-left: 0;
    text-align: center; /
}

.shtimi .file {
    width: 90%; 
    text-align: center;
}

  .span  {

   justify-content: space-between;
  }
  .span input{
  margin-left: 45px;
    width: 150px;
    
  }
  .post{
    display: flex;
        flex-direction: column;  
        justify-content: flex-start;  
        align-items: center;  
        height: auto; 
  }
  .post img{
    position: relative;
    right: 90px;
    width: 350px;
    height: 18vh;
  }
  .post h3{
    margin-top: 30px;
    font-size: 15px;
    
  }
  .post p{
   
    font-size: 13px;

  }
  
 .add-news-section {
  flex-direction: column;
  height: auto;
  align-items: center;
}

.add-news-form input,
.add-news-form textarea {
  width: 90%;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
}

.add-news-form button {
  width: 90%;
  margin-top: 10px;
}

.add-news-form {
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.add-news-section label {
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.add-news-section .fotoimg {
  width: 90%;
  text-align: center;
}

}